@tailwind base;
@tailwind components;
@tailwind utilities;

/*

colors
https://colors.muz.li/color-palette-generator/150D2D

desings
https://dribbble.com/shots/20139663-Consult-Inc-Website-for-a-business-consulting-company
https://dribbble.com/shots/22209462-Landing-Page-Design-Marketing-Software

*/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
}

